<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Page Potin maggle !</h1>
    <p>
    Voici la page du potin n° <%= identation %><br/>
    Son auteur : <%= gossip.author %><br/>
    Son contenu : <%= gossip.content %>
    </p>
    <a href="/">Retour à la page de tous les potins</a>
    <h2>Comments</h2>
    <p>Modifie ce commérage de bas étage</p>
    <form action='/gossips/<%= identation.to_i %>/' method='POST'>
      Balance ton comm' : <input type='text' name='display_comment'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>